<%- include ("partials/header"); %>
    <h1>Daftar Siswa</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Tinggi</th>
                <th>Tanggal Lahir</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.nama %></td>
            <td><%= item.umur %></td>
            <td><%= item.tinggi %></td>
            <td><%= item.tanggallahir %></td>
            <td><%= ismenikah %></td>
        </tr>
        <% }); %>
    </tbody>
    </table>
<a href="add" class="btn btn-primary">Tambah Daftar</a>

<%- include ("partials/footer"); %>