<%- include ("partials/header"); %>
<br>
<h1 class="text-center p-3 mb-2 bg-primary text-white">Daftar Siswa</h1>
<div class="card bg-dark text-light">
    <div class="card-body ">
        <a href="add" class="btn btn-primary">Tambah Daftar</a>
        <br></br>

        <table class=" table table-stripped ">
            <thead>
                <tr>
                    <th class="text-danger">ID</th>
                    <th class="text-white">Nama</th>
                    <th class="text-white">Umur</th>
                    <th class="text-white">Tinggi</th>
                    <th class="text-white">Tanggal Lahir</th>
                    <th class="text-white">Status</th>
                    <th class="text-white">actions</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                <tr>
                    <td class="text-danger"><%= item.id %></td>
                    <td class="text-white"><%= item.nama %></td>
                    <td class="text-white"><%= item.umur %></td>
                    <td class="text-white"><%= item.tinggi %></td>
                    <td class="text-white"><%= moment(item.tanggallahir). format('DD MMM YYYY') %></td>
                    <td class="text-white"><%= item.ismenikah ? 'Sudah Menikah' : 'Belum Menikah'%></td>
                    <td>
                        <a href="/edit/<%= item.id%>" class="btn btn-success">edit</a>
                        <a href="/delete/<%= item.id%>" class="btn btn-danger"
                            onclick="return confirm ('klik ok untuk menghapus klik cancel untuk membatalkan')">hapus</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="">
            <nav aria-label="Page navigation example" >
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= page == 1 ? ' disabled' : ' '  %>"><a class="page-link"
                            href="?page= <%= parseInt(page) - 1 %>">Prev</a></li>
                    <% for( let i = 1; i <= pages; i++ )  {%>
                    <li class="page-item <%=i == page ? ' active' : ' '  %>"><a class="page-link"
                            href="?page= <%= i %>"><%= i %></a></li>
                    <% } %>
                    <li class="page-item <%= page == pages ? ' disabled' : ' '  %>"><a class="page-link"
                            href="?page= <%= parseInt(page) + 1 %>">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<%- include ("partials/footer"); %>