<%- include ("partials/header"); %>
<h1>Daftar Siswa</h1>
<div class="card">
    <div class="card-body">
<table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Tinggi</th>
                <th>Tanggal Lahir</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.nama %></td>
            <td><%= item.umur %></td>
            <td><%= item.tinggi %></td>
            <td><%= moment(item.tanggallahir). format('DD MMM YYYY') %></td>
            <td><%= item.ismenikah ? 'Sudah Menikah' : 'Belum Menikah'%></td>
        </tr>
        <% }); %>
    </tbody>
    </table>
<a href="add" class="btn btn-primary">Tambah Daftar</a>
</div>
</div>

<%- include ("partials/footer"); %>